/* Header styles */

header {
  max-width: 100%;
  height: 35vmin;
  background-color: rgba(71, 79, 122, 0.703);
  padding: 2vmin;
  box-shadow: -2px 4px 13px 10px rgba(71, 79, 122, 0.703);
  display: flex;
  flex-direction: column;
}

.line {
  box-shadow: 0px 9px 20px 3px rgba(144, 0, 86, 0.2);
  max-width: 100%;
}

.headerIcon {
  width: 5vmin;
  height: 5vmin;
  margin-right: 1vmin;
}

.homeTitle {
  font-size: 15vmin;
  display: flex;
  justify-content: center;
  margin-top: 4vmin;
  color: rgb(240, 248, 255);
  font-family: monospace;
  text-shadow: 1px 3px 0px rgb(0 0 0);
}

@media (max-width: 1010px) {
  .homeTitle {
    font-size: 13vmin;
  }
}

@media (max-width: 888px) {
  .homeTitle {
    font-size: 11vmin;
  }
}

/* Search bar styles */

.search {
  display: flex;
  gap: 0.8vmin;
}

.searchBar,
input[type="search"] {
  width: 30vmin;
  border-radius: 3vmin;
}

input[type="search"] {
  height: 6vmin;
  border: 0.2vmin solid rgb(129, 104, 157);
  font-size: 2vmin;
  color: rgba(240, 248, 255, 0.734);
  background-color: rgb(36, 39, 54);
  padding: 2vmin;
  appearance: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}

input[type="search"]:not(:placeholder-shown) {
  border-radius: 2vmin;
  width: 28vmin;
  background-color: rgb(41, 43, 58);
}

input[type="search"]:focus {
  outline: none;
}

.optionsButton {
  width: 11vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

.optionsButton:hover {
  background-color: rgba(129, 104, 157, 0.199);
  transition: 0.1s;
}

.optionsButton:focus{
  background-color: rgba(129, 104, 157, 0.388);
}

/* Cards styles */

.card,
.locationCard,
.cardMax {
  width: 50vmin;
  height: 20vmin;
  margin: 2vmin;
  border-radius: 2vmin;
  border: 0.2vmin solid rgb(129, 104, 157);
  background-color: rgb(52, 52, 76);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: rgb(248, 232, 255);
  transition: 0.3s;
  padding: 2vmin;
  display: flex;
  align-items: center;
}

.card:hover,
.locationCard:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
  background-color: rgba(44, 44, 63, 0.618);
  cursor: pointer;
}

.locationCard:hover {
  cursor: auto;
}

.container {
  padding-left: 3vmin;
  padding-right: 2vmin;
}

.cardImage {
  width: 20vmin;
  height: 20vmin;
  border-radius: 2vmin;
  margin: 0;
}

.elementName {
  font-size: 2.6vmin;
  margin-top: 0;
  margin-bottom: 0;
}

.section1 {
  padding-top: 1.5vmin;
  margin-bottom: 4vmin;
}

.section2 {
  margin-bottom: 2vmin;
}

.section3 {
  margin-bottom: 2vmin;
  display: flex;
  gap: 8vmin;
}

.locationType {
  width: 20vmin;
}

span + h4 {
  font-size: 2.3vmin;
  margin-top: 0;
  margin-bottom: 0;
}

span {
  font-size: 2vmin;
}

div span:first-child {
  color: rgb(242, 204, 250);
}

.alive {
  height: 1vmin;
  width: 1vmin;
  margin-right: 0.5vmin;
  background-color: rgb(85, 204, 68);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.dead {
  height: 1vmin;
  width: 1vmin;
  margin-right: 0.5vmin;
  background-color: rgb(204, 68, 68);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.unknown {
  height: 1vmin;
  width: 1vmin;
  margin-right: 0.5vmin;
  background-color: rgb(71, 71, 71);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

/* Extended cards styles */

.cardMax {
  height: 50vmin;
  transition: all 2s linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%)
}

.cardMax:hover {
  cursor: pointer;
}

.containerMaxImage {
  margin-bottom: 25vmin;
}

/* Footer style */

footer {
  height: 13vmin;
  width: 100%;
  margin-top: 5vmin;
  background-color: rgba(94, 81, 115, 0.56);
  box-shadow: 0px 7px 5px 11px rgba(94, 81, 115, 0.56);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
}

footer h3 {
  color: rgb(226, 222, 255);
  font-size: 2vmin;
  font-weight: 300;
  margin-left: 2vmin;
}

footer a {
  margin-right: 2vmin;
}

footer img {
  height: 6vmin;
}