body {
  margin: 0;
  background-color: rgb(36, 39, 54);
}

header {
  display: flex;
  flex-direction: column;
}

.line {
  box-shadow: 0px 5px 18px 4px rgba(255, 208, 236, 0.771);
  max-width: 100%;
  margin: 0;
  display: flex;
}

.homeCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.space {
  margin-bottom: 8vmin;
  margin-top: 8vmin;
  display: flex;
  justify-content: center;
}

/* Next and Prev button styles */

.pageButtons {
  display: flex;
  justify-content: center;
  gap: 1vmin;
}

button {
  width: 13vmin;
  height: 6vmin;
  border: 0.2vmin solid rgb(129, 104, 157);
  font-size: 2vmin;
  color: rgba(240, 248, 255, 0.734);
  background-color: rgb(36, 39, 54);
  border-radius: 3vmin;
  cursor: pointer;
}

button:active {
  background-color: rgb(25, 28, 44);
}