body {
  margin: 0;
  background-color: rgb(36, 39, 54);
}

.pageContainer {
  position: relative;
  min-height: 100vh;
}

.contentWrap {
  padding-bottom: 13vmin;    
}

.homeCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.space {
  margin-bottom: 8vmin;
  margin-top: 8vmin;
  display: flex;
  justify-content: center;
}

.spaceBottom {
  padding-top: 5vmin;
}

/* Next and Prev button styles */

.pageButtons {
  display: flex;
  justify-content: center;
  gap: 1vmin;
  margin-top: 2vmin;
}

button {
  width: 13vmin;
  height: 6vmin;
  border: 0.2vmin solid rgb(129, 104, 157);
  font-size: 2vmin;
  color: rgba(240, 248, 255, 0.734);
  background-color: rgb(36, 39, 54);
  border-radius: 3vmin;
  cursor: pointer;
}

.notVisibleButton {
  display: none;
}

button:active {
  background-color: rgb(25, 28, 44);
}