html {
  background-color: rgb(36, 39, 54);
}

header {
  background-color: rgb(71, 79, 122);
  padding: 2vmin;
  display: flex;
  align-items: center;
}

hr {
  color: rgb(34, 3, 157);
}

.headerIcon {
  width: 5vmin;
  height: 5vmin;
  margin-right: 1vmin;
}

.space {
  margin-bottom: 20vmin;
}